.header {
    flex: 1;
    background-color: var(--bg-color-1);
    padding: 40px;
    overflow-y: scroll;
  }
  
  .header p {
    font-size: 2rem;
    line-height:3rem;
    color: var(--text-color-1);
    display: flex;
    justify-content: flex-end;
  }
  
  .header_expression {
    overflow-x: scroll;
    width: 200%;
    min-height: 80px;
  }
  
  .header_expression p {
    white-space: nowrap;
    min-width: 200%;
    width: fit-content;
    font-weight: bold;
  }
  
  .header_result {
    font-weight: bold;
    font-size: 1.3rem !important;
    min-height: 50px;
  }
  